<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% for x in marka %}
    <div>
        <div class="btn-group dropend" style="padding: 5px 0 5px 0;">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style='width: 200px;'>
              {{ x.title }}
            </button>
            <ul class="dropdown-menu">
                {% for i in model %}
                {% if i.parent == x %}
                <li><a class="dropdown-item" href="{{i.parent.slug}}/{{ i.slug }}">{{ i.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
          </div>
    </div>
{% endfor %}
</body>
</html>